/*
 * Tyler Filla
 * CS 4610
 * Project 2
 */

#container {
    text-align: center;
}

#search-area {
    display: inline-block;
    text-align: start;
    width: 50%;
}

.keyword-input-area {
    cursor: text;
    overflow-y: auto;
}

.keyword-input-chip-area .chip {
    cursor: default;
    display: inline-block;
    align-items: center;
    background: #f0f0f0;
    padding-left: 8px;
    border-radius: 3px;
    height: 100%;
}

.keyword-input-chip-area .chip-del {
    display: inline-block;
    background: #f0f0f0;
    color: #a0a0a0;
    outline: none !important;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #d8d8d8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 8px;
    height: 100%;
}

.keyword-input-chip-area .chip-del:hover {
    background: #e0e0e0;
}

.keyword-input-box {
    background: transparent;
    display: inline-block;
    outline: none !important;
    border: none;
    height: 100%;
}

#edit-input-area {
    width: 100%;
    resize: vertical;
}

#edit-keyword-input-area {
    height: 1%;
}

#result-table {
    text-align: start;
}

#result-table td {
    vertical-align: middle;
}

#result-table .content-area {
    display: inline-block;
    width: 100%;
    position: relative;
}
